@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

// colors

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$purple: #3E2C41;
$darkpurple: #261C2C;
$green: #2cff25;
$yellow: #eeff00;
$red: #ff2525;

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  font-family: 'Smooch Sans', sans-serif;
  margin: 0;
}



header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: $purple;


  .return{
    font-family: inherit;
    position: absolute;
    background-color: $purple;
    margin-left: -100rem;
    margin-top: 0px;
    cursor: pointer;
    color: $white;
    background-color: $purple;
    font-size: 35px;
    text-decoration: none;
  }

  .search {
    background-color: transparent;
    border: 2px solid $darkpurple;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: $white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

    &::placeholder {
      color: $white;
    }

    &:focus {
      outline: none;
      background-color: $darkpurple;
    }
  }
}


main {
  display: flex;
  flex-wrap: wrap;


  .movie {
    width: 300px;
    margin: 0.5rem;
    background-color: $purple;
    box-shadow: 0 4px 5px $black;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

    & img {
      width: 100%;
    }

    &-info {
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: .5px;

      h3 {
        margin-top: 0;
      }

      span {
        background-color: $darkpurple;
        padding: .25rem 0.5rem;
        border-radius: 3px;
        font-weight: bold;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;

        &.green {
          color: $green;
        }

        &.yellow {
          color: $yellow;
        }

        &.red {
          color: $red;
        }
      }
    }

    .overview {
      font-size: 15px;
      background-color: $white;
      padding: 2rem;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      transform: translateY(101%);
      -webkit-transform: translateY(101%);
      -moz-transform: translateY(101%);
      -ms-transform: translateY(101%);
      -o-transform: translateY(101%);
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
    }

    &:hover .overview {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }
}

@media screen and (max-width: 1900px) {


  header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: $purple;
  
  
    .return{
      margin-left: -10rem;

    }
  }
}


@media screen and (max-width: 500px) {

  main {
    display: flex;
    flex-wrap: wrap;
  
  
    .movie {
      width: 100%;
      margin: 0rem;
    }
  }

}
